<div class="container">
  <div *ngFor="let i of getData().algs">
    <h2 class="text-center">{{i.name}}</h2>
    <div>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Количество чисел</th>
          <th>Простых чисел</th>
          <th>Количество итераций</th>
          <th>Псевдопростых чисел</th>
          <th>Процент ошибки</th>
          <th>Время работы</th>
          <th>Ожидаемое время работы</th>
          <th>Отклонение</th>
        </tr>
        </thead>
        <tbody *ngFor="let currentCase of i.cases">
        <tr *ngFor="let actualCase of currentCase.cases; let k = index">
          <td *ngIf="k === 0" rowspan="9">{{currentCase.numbers}}</td>
          <td *ngIf="k === 0" rowspan="9">{{currentCase.primes}}</td>
          <td>{{actualCase.iterations}}</td>
          <td [bgColor]="actualCase.pseudoPrimes > 0 ? 'pink' : 'aquamarine'">{{actualCase.pseudoPrimes}}</td>
          <td [bgColor]="actualCase.pseudoPrimes > 0 ? 'pink' : 'aquamarine'">{{actualCase.error}}</td>
          <td>{{actualCase.timeMillis}}</td>
          <td>{{actualCase.expectedTime}}</td>
          <td [ngStyle]="{'color': actualCase.difference < 0 ? 'red' : 'green'}">{{actualCase.difference}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

